// color section
$color-primary : #3E4094;
$color-secondary: #FCB614;
$color-white: #FFFFFF;
$color-gray-100 :#F8F8FC;
$color-gray-200: #757575;
$color-gray-300 : #787878;
$color-gray-400: #6C6C6C;
$color-black: #000000;
$color-transparent: transparent;

//font size
$font-size : 16px;
$font-size-h6 : 18px;
$font-size-navbar : 24px;
$font-main : "avenir";
$font-sub : 'Open Sans', sans-serif;

//screen size
$mobile : 576px;
$tablet : 768px;
$laptop: 992px;
